@media (max-width: 1200px) {
    .promo {
        &__header {
            width: 960px;
        }
        &__logo {
            width: 60px;
            height: 60px;
        }
        .button {
            margin-top: 9px;
        }
        &__block {
            &-info {
                width: 940px;
            }
            &-icons {
                width: 920px;
            }
        }
    }
    .services {
        &__item {
            width: 470px;
        }
        &__descr {
            width: 340px;
        }
    }
    .staff {
        padding: 30px 0 60px 0;
    }
    .aboutus {
        &__wrapper {
            flex-wrap: wrap;
            width: 890px;
            justify-content: space-around;
        }
        &__item {
            width: 325px;
            margin-bottom: 60px;
        }
        &__consultation {
            width: 890px;
        }
    }
    .footer {
        height: 415px;
        &__info {
            padding: 12px 0 13px 0;
            width: 369px;
            min-height: 195px;
            right: 20px;
        }
        &__descr {
            font-size: 18px;
        }
        iframe {
            height: 420px;
        }
    }
    .slick-next {
        right: 370px;
    }
    .slick-prev {
        left: 370px;
    }
}

@media (max-width: 992px) {
    .header-mobile {
        z-index: 2000;
        position: fixed;
        display: flex;
        justify-content: start;
        align-items: center;
        width: 100%;
        height: 60px;
        background-color: rgb(236, 235, 235);
        &__logo {
            position: fixed;
            top: 10px;
            left: 20px;
            width: 200px;
            height: 40px;
            img {
                height: 100%;
            }
        }
        .humburger {
            position: fixed;
            right: 20px;
            top: 14px;
            width: 45px;
            height: 40px;
            cursor: pointer;
            span {
            transition: .6s all;
                margin-bottom: 10px;
                display: block;
                width: 100%;
                height: 3px;
                background-color: rgb(77, 76, 76); 
            }
            &_active {
                span {
                    transition: 0.6 all;
                    &:nth-child(1) {
                        margin-top: 12px;
                        transform: rotate(45deg);
                    }
                    &:nth-child(2) {
                        display: none;
                    }
                    &:nth-child(3) {
                        transform: rotate(-45deg);
                        margin-top: -12px;
                    }
                }
                
            }
        }
    }
    .promo {
        min-height: 544px;
        &__logo {
            display: none;
        }
        &__header {
            z-index: 3000;
            display: flex;
            position: fixed;
            background-color: #fff;
            top: 0;
            left: -100%;
            width: 40%;
            height: 100%;
            flex-direction: column;
            transition: .6s all;
            &_active {
                left: 0;
            }
        }
        &__menu-list {
            height: 70%;
            width: 270px;
            flex-direction: column;
            margin: 0 auto;
            margin-top: 51px;
            margin-bottom: 20px;
        }
        &__menu-item {
            font-size: 30px;
            border: 1px solid #b8bec1;
            border-radius: 20px;
            width: 100%;
            text-align: center;
            a {
                color: $main-color;
                text-transform: uppercase;
            }
        }
        &__contacts {
            display: none;
        }
        &__subtitle {
            font-size: 35px;
        }
        &__block {
            &-info {
                margin-top: 120px;
                width: 740px;
            }
            &-icons {
                width: 740px;
            }
        }
        &__line {
            width: 680px;
            hr {
                width: 323px;
            }
        }
    }
    .services {
        padding: 56px 0 86px 0;
        min-height: 1680px;
        &__item {
            margin: 0 auto;
            margin-top: 64px;
        }
    }
    .aboutus {
        padding-top: 65px;
        &__wrapper {
            width: 720px;
        }
        &__item {
            margin-bottom: 35px;
        }
        &__consultation {
            min-height: 450px;
            width: 650px;
        }
        .feed-form_consultation {
            width: 500px;
            flex-direction: column;
            align-items: center;
            input {
                height: 53px;
                width: 400px;
            }
        }
        .button_consultation {
            width: 400px;
            height: 53px;
            font-size: 23px;
        }
    }
    .reviews {
        padding-top: 60px;
    }
    .footer {
        &__info {
            width: 320px;
            position: static;
            margin: 0 auto;
        }
        height: 245px;
    }
    .title {
        font-size: 33px;
    }
    .subtitle {
        font-size: 16px;
    }
    .slick-next {
        right: 235px;
    }
    .slick-prev {
        left: 235px;
    }
    .button {
        margin: 0 auto;
        margin-bottom: 31px;
        width: 280px;
        height: 45px;
        font-size: 14px;
    }
}

@media (max-width: 768px) {
    .promo {
        
        &__header {
            width: 50%;
        }
        &__block {
            &-info {
                width: 550px;
            }
            &-icons {
                width: 550px;
            }
        }
        &__subtitle {
            font-size: 25px;
        }
        &__line {
            width: 500px;
            hr {
                width: 233px;
            }
        }
        &__menu {
            &-list {
                width: 185px;
            }
            &-item {
                font-size: 24px;
            }
        }
        .button {
            width: 190px;
        }
    }
    .aboutus {
        &__wrapper {
            width: 550px;
        }
        &__consultation {
            width: 500px;
        }
    }
    
    .button_consultation {
        bottom: -58px;
    }
    .subtitle {
        width: 500px;
    }
    .slick-next {
        right: 148px;
    }
    .slick-prev {
        left: 148px;
    }
    .carousel {
        &__descr {
            width: 400px;
        }
    }
    .title {
        font-size: 28px;
    }
}

@media (max-width: 576px) {
    .promo {
        &__menu {
            &-item {
                font-size: 24px;
            }
        }
        &__subtitle {
            font-size: 20px;
            margin-top: 10px;
        }
        &__close-mobile {
            display: block;
            position: absolute;
            top: -20px;
            right: 13px;
            font-size: 60px;
            font-weight: 100;
            cursor: pointer;
        }
        &__header {
            width: 100%;
        }
        &__block {
            &-info {
                width: 310px;
                margin-top: 92px;
            }
            &-icons {
                /* display: none; */
                width: 310px;
                margin-top: 27px;
                #element-mobile {
                    display: none;
                }
            }
        }
        &__title {
            font-size: 56px;
        }
        &__line {
            width: 300px;
            hr {
                width: 135px;
            }
        }
    }
    .services {
        &__item {
            flex-direction: column;
            align-items: center;
            width: 310px;
            margin-top: 30px;
        }
        &__descr {
            &-title {
                text-align: center;
                margin-top: 10px;
                margin-bottom: 10px;
            }
            &-info {
                width: 266px;
                margin: 0 auto;
                text-align: center;
            }
        }
    }
    .staff {
        &__descr {
            font-size: 13px;
        }
    }
    .aboutus {
        .title {
            font-size: 24px;
        }
        &__wrapper {
            width: 310px;
        }
        &__consultation {
            width: 310px;
            border: none;
        }
        .feed-form_consultation {
            width: 300px;
            input {
                width: 277px;
            }
        }
        .button_consultation {
            width: 277px;
            font-size: 17px;
        }
    }
    .carousel {
        &__descr {
            width: 285px;
        }
    }
    .subtitle {
        width: 310px;
    }
    .slick-next {
        right: 36px;
    }
    .slick-prev {
        left: 36px;
    }
    .modal {
        min-height: 353px;
        width: 320px;
        padding: 26px 25px 22px 25px;
        &__title {
            font-size: 21px;
            margin-bottom: 14px;
        }
        &__subtitle {
            display: none;
        }
        &__close {
            top: -20px;
            right: 2px;
        }
        .button {
            margin-bottom: 0px;
        }
    }
    .feed-form {
        width: 275px;
    }
    
}