.staff {
    min-height: 320px;
    background: url(../img/staff_BG.png) center no-repeat;
    padding: 55px 0 80px 0;
    &__logo {
        width: 100px;
        height: 100px;
        margin: 0 auto;
        img {
            width: 100%;
        }
    }
    &__title {
        text-align: center;
        font-size: 24px;
        font-weight: 300;
        color: #fff;
        margin-top: 10px;
    }
    &__descr {
        margin-top: 10px;
        text-align: center;
        font-size: 18px;
        font-weight: 100;
        color: #fff;
    }
}