@import '../libs/bootstrap-reboot.min.scss';
@import '../libs/slick.scss';
@import '../libs/font.scss';
@import '../base/variables';

* {
    font-family: 'Museo Sans';
}

.container {
    width: 1140px;
    margin: 0 auto;
}

@media (max-width: 1200px) {
    .container {
        width: 960px;
    }
}

@media (max-width: 992px) {
    .container {
        width: 750px;
    }
}
@import 'header';
@import 'promo';
@import 'buttons';
@import 'title';
@import 'services';
@import 'overlay';
@import 'modal';
@import 'forms';
@import 'staff';
@import 'aboutus';
@import 'line';
@import 'subtitle';
@import 'reviews';
@import 'carousel';
@import 'footer';
@import 'pageup';
@import 'humburger';
@import 'media';
